{% extends 'basetemplate.html.twig' %}
{% block stylesheets %}
    <link href="{{asset('css/footer.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('css/shop.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}

    <div class="container">

        <div class="row">


            <div class="col-lg-3 category_menu">

                <h1 class="my-4">All sections</h1>
                <div class="list-group category_menu">
                    {% for gen in gender %}
                        <a class="list-group-item list_item_category" href="{{ path('product_gender', {'id': gen.id}) }}">{{gen.gender}}
                            Geek glasses</a>
                    {% endfor %}
                    {% for category in categories %}
                        <a class="list-group-item list_item_category" href="{{ path('product_category', {'id': category.id}) }}">{{category.CategoryName}}
                            Geek glasses</a>

                    {% endfor %}
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                {% if current_category != 0 %}
                    <h1>{{current_category[0].CategoryName}}
                        Glasses
                    </h1>
                {% endif %}
                {% if current_gender != 0 %}
                    <h1>{{current_gender[0].Gender}}
                        Glasses
                    </h1>
                {% endif %}
                <div class="row">
                    {% for glass in glasses %}


                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="{{ path('product_detail', {'id': glass.id}) }}"><img alt="" class="card-img-top" src="/{{glass.imgRoute}}"></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{{ path('product_detail', {'id': glass.id}) }}">{{glass.productName}}</a>
                                    </h4>
                                    <h5>${{glass.price}}</h5>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>


                    {% endfor %}

                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>

{% endblock %}
