{% extends 'basetemplate.html.twig' %}
{% block stylesheets %}

    <link href="css/shop.css" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block body %}

    <div class="container ">

        <div class="row">

            <div class="col-lg-3 category_menu">

                <h1 class="my-4">Shop Name</h1>
                <div class="list-group">
                    {% for gen in gender %}
                        <a class="list-group-item" href="{{ path('product_gender', {'id': gen.id}) }}">{{gen.gender}}
                            Geek glasses</a>
                    {% endfor %}
                    {% for category in categories %}
                        <a class="list-group-item" href="{{ path('product_category', {'id': category.id}) }}">{{category.CategoryName}}
                            Geek glasses</a>

                    {% endfor %}
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="carousel slide my-4" data-ride="carousel" id="carouselExampleIndicators">
                    <img alt="First slide" class="d-block img-fluid" height="350" src="/img/imgcorporativa.png" weight="900">

                </div>

                <div class="row">
                    {% for glass in glasses %}


                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="{{ path('product_detail', {'id': glass.id}) }}"><img alt="" class="card-img-top" src="{{glass.imgRoute}}"></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{{ path('product_detail', {'id': glass.id}) }}">{{glass.productName}}</a>
                                    </h4>
                                    <h5>${{glass.price}}</h5>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>


                    {% endfor %}

                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>

{% endblock %}
