<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>

        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <link href="{{asset('css/footer.css')}}" rel="stylesheet">
        <link href="{{asset('css/base.css')}}" rel="stylesheet"> {% block stylesheets %}{% endblock %}
        </head>
        <body>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="1st_nav">
                    <a class="navbar-brand" href=""></a>

                </div>
                <div class="collapse navbar-collapse navbar_content" id="navbarSupportedContent">
                    <div class="sub_nav1">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a href="{{ path('home')}}">
                                    <img alt="Logo" class="brand_logo" src="/img/logo.png">
                                </a>
                                <span class="sr-only">(current)</span>
                            </li>

                        </ul>
                    </div>
                    <div class="sub_nav2">
                        <form class="form-inline my-2 my-lg-0">
                            <input aria-label="Search" class="form-control mr-sm-2" disabled placeholder="Search" type="search">
                            <button class="btn btn-outline-success my-2 my-sm-0" disabled type="submit">Search</button>
                        </form>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                    {{user_name}}
                                </a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                    {% if user_name == "Guest" %}
                                        <a class="dropdown-item" href="{{ path('login')}}">Login</a>
                                        <a class="dropdown-item" href="{{ path('register_page')}}">Register</a>
                                    {% endif %}
                                    {% if user_name != "Guest" %}
                                        <a class="dropdown-item" href="{{ path('profile')}}">Profile</a>

                                        {% if role[0] == 'ROLE_ADMIN' %}

                                            <a class="dropdown-item" href="{{ path('admin_panel')}}">Admin panel</a>

                                        {% endif %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('logout')}}">Logout</a>
                                    {% endif %}

                                </div>
                            </li>
                            <li>
                                <a class="btn btn-info btn-lg" href="{{ path('shop_cart')}}">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    Shopping Cart</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% block body %}{% endblock %}
            {% include('footer.html.twig') %}
            <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            {% block javascripts %}{% endblock %}

        </body>
    </html>
