{% extends "base.html.twig" %}

{% block title %}Login
{% endblock %}
{% block stylesheets %}
    <link href="css/register.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img alt="Logo" class="brand_logo" src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png">
                    </div>
                </div>

                <div class="d-flex justify-content-center form_container ">


                    {{ form_start(form) }}
                    <div class="container_form">
                        <div class="column">
                            <div class="form-group float-label-control">
                                {{ form_row(form.email) }}
                            </div>


                            <div class="form-group float-label-control">
                                {{ form_row(form.name) }}
                            </div>


                            <div class="form-group float-label-control">
                                {{ form_row(form.surname) }}
                            </div>

                        </div>
                        <div class="column">
                            <div class="form-group float-label-control">
                                {{ form_row(form.plainPassword.first) }}
                            </div>


                            <div class="form-group float-label-control">
                                {{ form_row(form.plainPassword.second) }}
                            </div>


                            <div class="d-flex justify-content-center mt-3 login_container">
                                <button class="btn btn-info" type="submit">REGISTER</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>


            </div>
        </div>
    </div>
</div>{% endblock %}
